[Unit]
Description=Smartmeter Server
After=network.target
StartLimitIntervalSec=0

[Service]
Restart=always
RestartSec=1
Type=simple
User=beerm
Environment=ROOT='/home/beerm/projects/smart-meter'
ExecStart=bash ${ROOT}/start-server.sh -r $ROOT

[Install]
WantedBy=multi-user.target
