[Unit]
Description=Smartmeter Frontend
After=network.target
StartLimitIntervalSec=0

[Service]

Restart=always
RestartSec=1
Type=simple
User=beerm
Environment=ROOT='/home/beerm/projects/smart-meter'
ExecStart=bash ${ROOT}/start-frontend.sh -r ${ROOT}

[Install]
WantedBy=multi-user.target
